@import url("https://fonts.googleapis.com/css?family=Space+Mono");
.help-tip {
  position: absolute;
  top: 7em;
  right: 27.5em;
  text-align: center;
  background-color: #3AFFCD;
  border-radius: 50%;
  width: 1.7em;
  height: 1.7em;
  font-size: 14px;
  line-height: 26px;
  cursor: default;
  font-family: "space mono"; }

.help-tip:before {
  content: '?';
  font-weight: bold;
  color: #fff; }

.help-tip:hover p {
  display: block;
  transform-origin: 100% 0%;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out; }

.help-tip p {
  /* The tooltip */
  display: none;
  text-align: left;
  background-color: #1E2021;
  padding: 20px;
  width: 300px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -4px;
  color: #FFF;
  font-size: 16px;
  line-height: 1.4;
  font-family: "space mono"; }

.help-tip p:before {
  /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #1E2021;
  right: 10px;
  top: -12px; }

.help-tip p:after {
  /* Prevents the tooltip from being hidden */
  width: 100%;
  height: 40px;
  content: '';
  position: absolute;
  top: -40px;
  left: 0; }

/* CSS animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6); }
  100% {
    opacity: 100%;
    transform: scale(1); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

@font-face {
  font-family: "lazer 84";
  src: url("fonts/Lazer84.ttf") format("truetype"); }

@font-face {
  font-family: "colors_of_autumn";
  src: url("fonts/colors_of_autumn.ttf") format("truetype"); }

@font-face {
  font-family: "Streamster";
  src: url("fonts/Streamster.ttf") format("truetype"); }

* {
  font-family: "lazer 84";
  box-sizing: border-box;
  color: #CC3BA7; }

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to right bottom, #2E005C, #4C2D5C, #483063, #221E47, black); }

#navbar {
  background-color: black;
  height: 5vh;
  display: flex;
  justify-content: space-between; }
  #navbar #logoContainer {
    position: relative;
    padding-left: 0.5em; }
  #navbar button {
    display: inline-block;
    margin: 0.75em 0.75em 0 0; }
  #navbar p {
    margin: 0;
    display: inline;
    font-size: 150%;
    position: absolute;
    left: 2.5em;
    top: 0.2em; }
  #navbar object {
    width: 5vh; }

.selector {
  display: block;
  border: 0; }
  .selector select {
    display: inline-block;
    border-radius: 1em;
    border-width: .03em;
    background-color: black;
    font-family: "Arial";
    font-size: .85em;
    -webkit-appearance: menulist; }

button {
  background-color: black;
  font-family: "Arial"; }

.drumContainer {
  color: black;
  margin: 1em auto 0 auto;
  display: block;
  width: 75%;
  background-color: #CC3BA7;
  box-shadow: -.5em .5em 0 black;
  border-radius: 1em; }
  .drumContainer span {
    color: black; }

#iconContainer {
  display: inline-block;
  width: 25%;
  height: 100%;
  vertical-align: top; }

#drumIcons {
  display: flex;
  flex-direction: column;
  height: 260px; }

iconRow {
  height: 100%;
  position: relative; }
  iconRow object {
    position: absolute;
    margin: auto 0.5em;
    top: 0;
    bottom: 0; }
  iconRow removeButton {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 80%;
    height: 25%;
    width: 10%;
    text-align: center;
    font-size: 70%;
    color: black;
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: linear; }
  iconRow removeButton:hover {
    color: red; }

#drumMatrixContainer {
  display: inline-block;
  width: 60%; }

#drumMatrix {
  display: inline-block; }

#drumControls {
  display: inline-block;
  width: 15%;
  vertical-align: top;
  text-align: center; }
  #drumControls p {
    color: black; }

#addRow {
  display: inline-block; }
  #addRow input[type=submit] {
    background: black;
    margin-right: 0.5em;
    font-family: "lazer 84"; }
  #addRow select {
    display: inline-block;
    border-radius: 1em;
    border-width: .03em;
    background-color: black;
    font-family: "Arial";
    font-size: .85em;
    -webkit-appearance: menulist; }

#loopControls {
  display: inline-block;
  width: 25%;
  margin-bottom: 0.5em;
  padding-left: 1em; }

#accents {
  width: 60%; }

.synthHolder {
  margin: 1em auto;
  width: 75%;
  position: relative; }

.synthContainer {
  display: inline-block;
  width: 60%;
  box-shadow: -.3em .3em 0 #1B2E2E;
  vertical-align: top;
  background-color: black;
  border-radius: 0 0 1em 1em; }

#synth {
  margin: 0 auto;
  width: 90%;
  height: 175px;
  display: flex; }

.optionsPanel {
  display: flex;
  height: 175px;
  justify-content: space-around;
  background: black;
  text-align: center; }
  .optionsPanel .waveContainer span {
    margin-right: .65em;
    display: inline-block;
    width: 30%; }
  .optionsPanel .waveContainer select {
    display: inline-block;
    width: 60%;
    border-radius: 1em; }
  .optionsPanel .waveContainer .multislider {
    margin: .9em .25em; }
  .optionsPanel .section {
    padding: 1.5em .75em;
    display: inline-block;
    border: solid solid 1px red; }
    .optionsPanel .section p {
      margin: .5em 0; }
    .optionsPanel .section box {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      text-align: center; }
      .optionsPanel .section box canvas {
        margin: 0 .25em; }
    .optionsPanel .section quarter {
      display: inline-block;
      width: 25%;
      vertical-align: top;
      text-align: center; }
      .optionsPanel .section quarter canvas {
        margin: 0 .25em; }

.presetContainer {
  background: black;
  display: inline-block;
  border-radius: 1em;
  margin: 0 1em;
  box-shadow: -.3em .3em 0 #1B2E2E; }
  .presetContainer p {
    margin: 0.25em 0;
    text-align: center; }
  .presetContainer .section {
    padding: 0.25em 0.5em; }

#savePreset input {
  font-family: 'open sans';
  background: black; }

#savePreset input[type=submit] {
  margin-right: 0.5em;
  font-family: 'lazer 84'; }

.controlButtons {
  margin: 0 auto;
  display: block; }

.dial {
  display: inline-block; }
