* {
  font-family: "open sans";
  box-sizing: border-box;
  color: #CC3BA7; }

body {
  background-color: #2E005C; }

.drumContainer {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 75%; }

#drumMatrix {
  width: 100%;
  height: 40%; }

.synthContainer {
  width: 75%;
  margin: 0 auto; }

.optionsPanel {
  display: flex;
  border: solid 1px red;
  height: 250px;
  justify-content: space-between;
  background: black; }
  .optionsPanel .section {
    padding: 2em 0;
    display: inline-block;
    float: left;
    border: solid solid 1px red; }

#synth {
  margin: 0 auto;
  width: 100%;
  display: block; }

.filterText {
  text-align: center; }

.dial {
  display: inline-block; }
