* {
  box-sizing: border-box;
  color: #CC3BA7; }

@font-face {
  font-family: "Lazer 84", Helvetica;
  src: local("Lazer 84"), url("Lazer84.ttf"), format("ttf"); }

body {
  background-color: #2E005C; }

.drumContainer {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 75%;
  background-color: #CC3BA7; }

#drumMatrix {
  width: 70%;
  height: 40%;
  margin: 0 auto;
  display: block; }

.synthContainer {
  width: 50%;
  margin: 0 auto; }

.optionsPanel {
  display: flex;
  border: solid 1px red;
  height: 175px;
  justify-content: space-between;
  background: black; }
  .optionsPanel .section {
    padding: 2em 0;
    display: inline-block;
    border: solid solid 1px red; }

.controlButtons {
  margin: 0 auto;
  display: block; }

#synth {
  margin: 0 auto;
  width: 90%;
  display: flex; }

.filterText {
  text-align: center; }

.dial {
  display: inline-block; }
