$dev: solid 1px red;
$panel: black;

* {
  // font-family: "open sans";
  box-sizing: border-box;
  color: #CC3BA7;
}

@font-face {
  font-family: "Lazer 84", Helvetica;
  src: local("Lazer 84"), url('public/style/fonts/Lazer84.ttf'), format("ttf")
}
body {
  background-color: #2E005C;
}
.drumContainer {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 75%;
  background-color: #CC3BA7;
}
#drumMatrix {
  width: 70%;
  height: 40%;
  margin: 0 auto;
  display: block;
}
// holds keyboard AND knobs/sliders
.synthContainer {
  width: 50%;
  margin: 0 auto;
}
// a panel holding all knobs/sliders
.optionsPanel {
  display: flex;
  border: $dev;
  height: 175px; // adjustable
  justify-content: space-between;
  background: $panel;
  // sections are sub panels holding specific knobs/sliders
  .section {
    padding: 2em 0;
    display: inline-block;
    // float: left;
    border: solid $dev;
  }
}

.controlButtons {
  margin: 0 auto;
  display: block;
}
//keyboard
#synth {
  margin: 0 auto;
  width: 90%;
  display: flex;
}
.filterText {
  text-align: center;
}
.dial {
  display: inline-block;
   // this nested selector functionality doesn't seem to work the same as putting the width attribute sdirectly on the canvas in JSX
  // because the code below changes the canvas DOMnode that contains the dial, while doing it in JSX changes the actual dial as well as the canvas
  // but JSX/nexusUI only understands px;
  canvas {
    // width: 30%;
  }
}
// margin left/right auto + display:block centers synth
