$dev: solid 1px red;
$panel: black;

@font-face {
  font-family: "lazer 84";
  src: url("fonts/Lazer84.ttf") format('truetype');
}

@font-face {
  font-family: "colors_of_autumn";
  src: url("fonts/colors_of_autumn.ttf") format('truetype');
}

@font-face {
  font-family: "Streamster";
  src: url("fonts/Streamster.ttf") format('truetype');
}

* {
  font-family: "lazer 84";
  box-sizing: border-box;
  color: #CC3BA7;
}

body {
  background-color: #2E005C;
}
.selector {
  display: block;
  border: 0;

  select {
    display: inline-block;
    border-radius: 1em;
    border-width: .03em;
    background-color: $panel;
    font-family: "Arial";
    font-size: .85em;
  }
}
button {
  background-color: black;
  font-family: "Arial";
}
.drumContainer {
  color: black;
  position: relative;
  margin: 0 auto;
  display: block;
  width: 75%;
  background-color: #CC3BA7;
  span {
    color: black;
  }
}
#drumMatrix {
  width: 70%;
  height: 40%;
  margin: 0 auto;
  display: block;
}
// holds keyboard AND knobs/sliders
.synthContainer {
  width: 60%;
  margin: 1em auto;
  background-color: black;
  border-radius: 1em;
}

//keyboard
#synth {
  margin: 0 auto;
  width: 90%;
  height: 175px;
  display: flex;
}
// a panel holding all knobs/sliders
.optionsPanel {
  display: flex;
  // border: $dev;
  height: 175px; // adjustable
  justify-content: space-around;
  background: $panel;
  text-align: center;

  .waveContainer {
    span {
      margin-right: .65em;
      display: inline-block;
      width: 30%;
    }

    select {
      display: inline-block;
      width: 60%;
      border-radius: 1em;
    }

    .multislider {
      margin: .9em .25em
    }


  }
  // sections are sub panels holding specific knobs/sliders
  .section {
    padding: 1.5em .75em;
    display: inline-block;
    border: solid $dev;
    //
    p {
        margin: .5em 0;
      }

    // contains Filter and Res text and knobs
    box {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      text-align: center;
      canvas {
        margin: 0 .25em;
      }
    }
    // how to make more DRY??
    quarter {
      display: inline-block;
      width: 25%;
      vertical-align: top;
      text-align: center;
      canvas {
        margin: 0 .25em;
      }
    }
  }
}

// .waveContainer {
//   margin: 0 auto;
// }

.controlButtons {
  margin: 0 auto;
  display: block;
}

.dial {
  display: inline-block;
   // this nested selector functionality doesn't seem to work the same as putting the width attribute sdirectly on the canvas in JSX
  // because the code below changes the canvas DOMnode that contains the dial, while doing it in JSX changes the actual dial as well as the canvas
  // but JSX/nexusUI only understands px;
  canvas {
    // width: 4em;
  }
}
// margin left/right auto + display:block centers synth
